# Sensitive configuration files
#database.js
config.js
secrets.js
api_keys.js
id_rsa
id_rsa.pub

# Build output and logs
build
dist
public
logs

# Environment variables
.env

# For any file you would like to keep out of git
# prepend the .private in front of the original filename
# .private.original_filename
.private*

# Local development and IDE files (optional)
node_modules
.vscode
.idea
